
ref/10.1038s42254-019-0030-x.pdf
*.pptx
ref/1411.7100 (1).pdf
ref/1411.7100.pdf
ref/1811.04814.pdf
ref/book.pdf
ref/Directional_Acoustic_Antennas_Based_on_Valley-Hall.pdf
ref/Enhanced_Low-Frequency_Monopole_and_Dipole_Acousti.pdf
ref/LeMans2019-DuctAcoustix.pdf
ref/PhDThesis.pdf
ref/PhysRevApplied.9.034032.pdf
ref/review.pdf
ref/Topological_transport_of_sound_mediated_by_spin-re.pdf
ref/传感器系列/06280591.pdf
ref/传感器系列/06573435.pdf
ref/传感器系列/06923441.pdf
ref/传感器系列/07147429.pdf
ref/传感器系列/1-s2.0-S0041624X02001270-main.pdf
ref/传感器系列/1.5113467.pdf
ref/传感器系列/1.pdf
ref/传感器系列/15037_Newton.pdf
ref/传感器系列/2017-SeparationPurificationReviews-MicrofluidicScreeningofCirculatingTumorBiomarkerstowardLiquidBiopsy.pdf
ref/传感器系列/A thin-reflector microfluidic resonator for.pdf
ref/传感器系列/c4lc00202d.pdf
ref/传感器系列/glynne-jones2012.pdf
ref/传感器系列/Improvement of Low-Frequency.pdf
ref/传感器系列/James P. Landers - Handbook of Capillary and Microchip Electrophoresis and Associated Microtechniques-CRC Press (2007).pdf
ref/传感器系列/PhysRevE.85.016327.pdf
ref/传感器系列/PhysRevE.92.043010.pdf
ref/传感器系列/piezoelectric speaker.pdf
ref/传感器系列/s41598-017-18571-9.pdf
ref/传感器系列/supplementary_material.pdf
ref/传感器系列/US8953823.pdf
ref/传感器系列/超声相控阵成像技术与应用_周琦.pdf
ref/声学基础（南京大学出版社）.pdf
ref/声学超材料/(Springer Series in Solid-State Sciences, Vol. 173) Deymier P.A. (ed) - Acoustic Metamaterials and Phononic Crystals-Springer (2013).pdf
ref/声学超材料/1.4949337.pdf
ref/声学超材料/10.1038s42254-019-0030-x.pdf
ref/声学超材料/1411.7100 (1).pdf
ref/声学超材料/1411.7100.pdf
ref/声学超材料/1811.04814.pdf
ref/声学超材料/aaq1475_SM.pdf
ref/声学超材料/applsci-08-01480.pdf
ref/声学超材料/book.pdf
ref/声学超材料/Directional_Acoustic_Antennas_Based_on_Valley-Hall.pdf
ref/声学超材料/Enhanced_Low-Frequency_Monopole_and_Dipole_Acousti.pdf
ref/声学超材料/FVM-openfoam.pdf
ref/声学超材料/hassanigangaraj2017.pdf
ref/声学超材料/PhysRevApplied.9.034032.pdf
ref/声学超材料/review.pdf
ref/声学超材料/Topological_transport_of_sound_mediated_by_spin-re.pdf
ref/声学超材料/videoplayback.mp4
ref/声学超材料/光学综述.pdf
ref/声学超材料/声波的_漩涡_声学轨道角动量的产生_操控与应用_梁彬-1.pdf
ref/声学超材料/声波的_漩涡_声学轨道角动量的产生_操控与应用_梁彬.pdf
ref/声学超材料/循环矩阵相关.pdf
ref/声学超材料/相关度1-supplied.pdf
ref/声学超材料/相关度1-supplied2.pdf
ref/声学超材料/相关度1-supplied3.pdf
ref/声学超材料/相关度1.pdf
ref/声学超材料/相关度2-1.pdf
ref/声学超材料/相关度2-2.pdf
ref/声学超材料/相关度2.pdf
ref/声学超材料/相关度3.pdf
ref/声学超材料/相关度很高-基本我的代码就可以实现它的功能-它给论文换了个说法.pdf
ref/声学超材料/螺旋生成器.pdf
ref/螺旋生成器2.pdf
ref/非线性声学/1996vpna_JASA.pdf
ref/非线性声学/2001Sound propagation in rigid bendsA multimodal approach.pdf
ref/非线性声学/2VA-N56.pdf
ref/非线性声学/course.pdf
ref/非线性声学/Enflo B. O., Hedberg C. M., Enflo B. O. - Theory of Nonlinear Acoustics in Fluids (2002).pdf
ref/非线性声学/fernando2011.pdf
ref/非线性声学/fulltext(2).jpg
ref/非线性声学/IMM5740_2-SNQDP95.pdf
ref/非线性声学/Lame.pdf
ref/非线性声学/LIV On a difficulty in the theory of Sound.pdf
ref/非线性声学/mcalpine2001-buzznoise.pdf
ref/非线性声学/Nonlinear waves and shocks in a rigid acoustical guide.pdf
ref/非线性声学/nonlinear_sound_propagation_in_twodimensional_curved_ducts_a_multimodal_approach.pdf
ref/非线性声学/on_the_effect_of_torsion_on_a_helical_pipe_flow.pdf
ref/非线性声学/orthogonal of bessel function.pdf
ref/非线性声学/orthogonal of bessel function2.PDF
ref/非线性声学/orthogonal of bessel function3.pdf
ref/非线性声学/petrie-phd.pdf
ref/非线性声学/webster‘hole.pdf
ref/非线性声学/新建文本文档.txt
